name: linux-test-mi350
on:
  workflow_call:
    inputs:
      conda_env:
        required: True
        type: string
        description: |
          Conda environment to activate when testing Triton

jobs:
  linux-test-mi350:
    if: github.repository_owner == 'meta-pytorch'
    runs-on: [amd-mi350-runner]
    timeout-minutes: 240
    environment: docker-s3-upload
    env:
      WORKSPACE_DIR: "/workspace"
      UV_VENV_DIR: "/workspace/uv_venvs"
      SETUP_SCRIPT: "/workspace/setup_instance.sh"
      CONDA_ENV: ${{ inputs.conda_env }}
    steps:
      - name: Checkout Tritonbench
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Tritonbench env
        run: |
          set -eux
          bash ./.ci/tritonbench/setup-env.sh --hip
      - name: Test Tritonbench
        run: |
          set -eux
          bash ./.ci/tritonbench/test-gpu.sh
