name: TritonBench Bisect
on:
  workflow_dispatch:
    inputs:
      conda_env:
        type: choice
        default: 'triton-main'
        options:
          - 'triton-main'
          - 'meta-triton'
        description: 'Conda env to bisect'
      bisect_type:
        type: choice
        default: 'performance'
        options:
          - 'performance'
          - 'functional'
      repro_cmdline:
        required: True
        type: string
        description: |
          The command line to reproduce the regression
      good_commit:
        required: True
        type: string
        description: |
          Last good commit (no regression)
      bad_commit:
        required: True
        type: string
        description: |
          First bad commit (has regression)
      regression_threshold:
        type: number
        default: 10
        description: |
          Performance regression threshold in %


jobs:
  mi350-bisect:
    uses: ./.github/workflows/_linux-bisect-mi350.yml
    with:
      conda_env: ${{ inputs.conda_env }}
      repro_cmdline: ${{ inputs.repro_cmdline }}
      good_commit: ${{ inputs.good_commit }}
      bad_commit: ${{ inputs.bad_commit }}
      functional: ${{ inputs.bisect_type == 'functional' }}
      regression_threshold: ${{ inputs.regression_threshold }}


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true
